.card {
  background: #1c1c21;
  border-radius: 40px;
  box-shadow:
    0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease;
  padding: 16px;
}

.card:hover {
  box-shadow: 0px 4px 12px rgba(51, 51, 255, 0.25);
  transform: translateY(-2px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredients {
  flex: 1;
}
.ingredient {
  display: flex;
  flex-direction: row;
}

.ingredientIcons {
  display: flex;
  align-items: center;
}

.iconWrapper {
  width: 48px;
  height: 48px;
  background: #131316;
  border-radius: 50%;
  border: 2px solid #4c4cff;
  margin-right: -16px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.iconWrapper:hover {
  transform: translateY(-4px);
  z-index: 10 !important;
}

.icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 28, 33, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 24px;
  white-space: nowrap;
}
