.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1280px;
  min-height: 912px;
  margin: 0 auto;
  gap: 40px;
}

.sectionBurgerIngredients,
.sectionBurgerConstructor {
  width: 100%;
}
