
.ingredientCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 272px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ingredientCard:hover {
  transform: translateY(-4px);
}

.imageContainer {
  position: relative;
  width: 240px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
}

.priceContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px; 
}

.price {
 user-select: none;
}

.name {
  min-height: 48px;
  text-align: center;
  user-select: none;
}

/*new*/

.ingredientCard {
    width: 100%; /* На мобилках занимает всю ширину */
    max-width: 272px; /* Но не больше оригинала */
    margin: 0 auto;
}

.imageContainer {
    width: 100%;
    max-width: 240px;
    height: 100px; /* Немного уменьшаем высоту */
}

@media (min-width: 480px) {
    .imageContainer {
        height: 120px; /* Возвращаем оригинальную высоту */
    }
}